body {
  margin: 0;
  background-color: #e8ebf1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  color: #707070;
  overflow-x: hidden;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #111;
  line-height: 1.3em;
}
a {
  transition: 300ms ease-in-out;
}
.bl-wrap {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}

.bl-wrap.navbar {
  max-height: 60px;
}
.bl-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  margin-top: -20px;
  list-style: none;
  float: right;
  font-size: 30px;
}
.nav li {
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 700;
  line-height: 20px;
}
.nav li a {
  display: block;
  color: #111;
  text-decoration: none;
  padding: 14px 12px;
  transition: 350ms ease-in-out;
}
.nav li a:hover {
  padding: 12px 12px;
  border-top: 2px solid #2aacc8;
  color: #2aacc8;
  background-color: #fff;
}
.nav li a:hover:after {
  color: #111;
}

ul.subnav {
  display: none;
  position: absolute;
  width: 220px;
  top: 30px;
  left: inherit;
  font-size: 13px;
  font-weight: 700;
  padding-left: 0;
  line-height: 20px;
  background-color: #fff;
}

ul.subnav > li {
  display: block;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

ul.subnav > li > a {
  display: block;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}
ul.subnav > li > a:hover {
  border-top: none;
  color: #2aacc8;
  padding: 10px;
}

ul.nav > li:hover > ul.subnav {
  display: block;
  z-index: 1;
  border-bottom: 3px solid #2aacc8;
}
.downarrow:after {
  content: "\25be";
  display: inline;
  clear: both;
  outline-width: 700px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.logotype {
  margin-top: 40px;
  font-size: 50px;
  line-height: 20px;
  font-weight: 900;
  color: #111;
}

span {
  color: #2aacc8;
  font-weight: 400;
  vertical-align: top;
}
.herobanner {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  background-color: #81e4ed;
  max-width: inherit !important;
}
.herobanner img {
  background-color: #dd5835;
  display: block;
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 0 0px 40px;
}
.herobanner ul {
  text-align: center;
}

.herobanner li {
  display: inline-block;
  margin: 20px 10px 0;
}

.herobanner a {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
}

.herobanner a:hover {
  background-color: #fff;
}

.feature {
  padding: 30px;
}

.feature > div {
  display: inline-block;
  width: 23%;
  margin: 5px;
  vertical-align: top;
}

.feature h6 {
  font-size: 15px;
  line-height: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.feature h6:before {
  content: "";
  background-color: #2aacc8;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  margin-right: 5%;
  vertical-align: top;
  margin-bottom: 10px;
}

h6.pencil:before {
  background-image: url(../img//pencil.png);
  background-repeat: no-repeat;
}

h6.fullscreen:before {
  background-image: url(../img/fullscreen.png);
  background-repeat: no-repeat;
}

h6.lists:before {
  background-image: url(../img/list.png);
  background-repeat: no-repeat;
}
h6.plane:before {
  background-image: url(../img/airplane.png);
  background-repeat: no-repeat;
}

.feature p {
  font-size: 15px;
  font-weight: 400;
  color: #363636;
  padding-bottom: 10px;
  height: auto;
  overflow: hidden;
}

.feature a {
  color: #2aacc8;
  text-decoration: none;
  transition: 300ms ease;
  padding-left: 0;
}

.feature a:hover {
  color: #111;
}
.feature a:before {
  content: "\25b8";
  display: inline;
  color: #111;
  clear: both;
  padding-right: 10px;
}

.main {
  background-color: #fff;
  max-width: 100%;
  padding: 20px 0 50px;
}

.latest {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  padding: 15px 0;
}

.latest ul {
  float: right;
}

.latest li {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-color: #2aacc8;
  border-radius: 50%;
  font-weight: 700;
  margin: 5px;
  transition: 300ms ease-in-out;
  text-align: center;
  color: #111;
}
.latest li:hover {
  color: #fff;
}
.latest h6:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 20px;
  background-image: url(../img/pointer.png);
  background-repeat: no-repeat;
  clear: both;
}

.latest h6 {
  width: 200px;
  display: inline;
  font-weight: 700;
  font-size: 15px;
}

.gallery {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
}
.gallery img {
  width: 100%;
}

.other {
  height: 50%;
  width: 100%;
  background-color: #2aacc8;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 300ms ease-in-out;
}

.gallery:hover .other {
  display: block;
  height: 50%;
  opacity: 1;
}
.other a {
  vertical-align: middle;
}

.other a:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.other a:first-child:before {
  background-image: url(../img/eye.png);
  vertical-align: middle;
}

.other a:last-child:before {
  background-image: url(../img/link.png);
  vertical-align: middle;
}

hr {
  color: lightgray;
  max-width: 1150px;
  margin-bottom: 10px;
  clear: both;
}

.testimonial {
  display: inline-block;
  max-width: 49%;
  font-size: 0;
  vertical-align: top;
  padding-bottom: 20px;
}

.testimonial h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.testimonial h6:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 20px;
  background-image: url(../img/comments.png);
  background-repeat: no-repeat;
  clear: both;
}
.client h6:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 20px;
  background-image: url(../img/clients.png);
  background-repeat: no-repeat;
  clear: both;
}

.testimonial p {
  font-size: 14px;
  width: 90%;
  font-weight: 400;
  color: #363636;
  padding: 25px 25px 0 0;
}
.testimonial p:last-child {
  font-weight: 700;
  font-style: italic;
}

.testimonial div {
  padding-top: 20px;
}
.testimonial.client img {
  margin: 1px;
}
.download {
  max-width: 1150px;
  height: 140px;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  margin: 0 auto;
}
.download p {
  width: 70%;
  height: 68px;
  color: #363636;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  display: inline-block;
  padding: 20px 30px;
}

.download b {
  display: inline-block;
  color: #111;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  width: 240px;
  height: 60px;
  margin: auto;
  vertical-align: text-bottom;
  background-color: #2aacc8;
  background-image: linear-gradient(
    to top,
    #2aacc8 0%,
    #2aacc8 0%,
    #60cede 15%,
    #72dae6 50%,
    #81e4ed 100%
  );
  border: 1px solid #2aacc8;
  border-radius: 8px;
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.1),
    0 2px 3px rgba(0, 0, 0, 0.2);
}

.download b:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 25px;
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  clear: both;
}

.download a {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  transition: 300ms ease-in-out;
  text-transform: uppercase;
}

.download a:hover {
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .download {
    height: auto;
  }
  .download b {
    margin: 20px auto;
    height: auto;
    display: block;
  }
}
footer {
  text-align: justify;
  padding: 20px 0;
}
footer b {
  color: #000;
}

footer > div {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  padding: 10px 0;
}

footer > div:first-child {
  width: 28%;
}

footer > div:nth-child(4) {
  width: 20%;
}

footer > div:last-child {
  width: 20%;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  footer > div {
    width: fit-content !important;
  }
}
footer > div > h6 {
  color: #111;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: left;
}

footer > div > p {
  color: #363636;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

footer > div .end {
  margin-top: 25px;
}
@media only screen and (max-width: 992px) {
  footer > div .end {
    margin-top: 5px;
  }
}
footer > div > ul {
  list-style: none;
  padding-left: 0;
}

footer > div > ul > li > a {
  line-height: 26px;
  text-decoration: none;
  color: #363636;
  font-size: 14px;
  font-weight: 400;
  transition: 300ms;
}
footer > div > ul > li > a:hover {
  color: blue;
}
footer > div > a {
  font-size: 65px;
  text-align: left;
  justify-content: space-between;
}

.copyright {
  margin-bottom: 30px;
}

.copyright p {
  color: #363636;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  float: left;
}
.copyright a {
  color: #363636;
}

.copyright:after {
  content: "";
  display: inline-block;
  clear: both;
}
@media only screen and (max-width: 992px) {
  .bl-wrap {
    max-width: auto;
    width: auto;
  }
  .bl-wrap.navbar {
    max-width: fit-content;
  }
  .logotype {
    margin-top: 5px;
  }
  .feature h6 {
    line-height: 1.5em;
    margin: 5px 0;
  }
  .feature > div {
    width: fit-content;
  }
  .latest {
    padding: 15px;
  }
  .copyright p {
    width: fit-content !important;
    padding-bottom: 15px;
  }
}
